<html>
  <head>
    <title>Gist blog</title>
  </head>
  <body>
    <h1>Gist blog</h1>

    <form action="javascript:void(0);">
      Enter your Github username to get started:
      <input type="text" id="username" name="username">
      <input type="submit" id="submit" value="Submit">
    </form>

    <script>
      document.getElementById('submit').addEventListener('click', function () {
        var username = document.getElementById('username').value
        window.location = '/user/' + username
      })
    </script>
  </body>
</html>
